#stone,
#mineButton,
#upgradePickaxe,
#stoneWorker,
#iron,
#upgradeIron,
#ironWorker,
#mineIron{
    display: none;
}
body {
    background-color: #101010;
    text-align: center;
    font-family:  Arial;
    color: white;
}
button{
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0,2s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 5);

}
button:hover{
    transform: scale(1.08);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}
button:active{
    transform: scale(0.95);
}
